{% extends "base.html" %}
{% block title %}E3D Filament Database - Filament Details{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Filament Properties</h1>
		<h2>{{ Filament.Name }}</h2>
	</div>
	
   
	<div class="row">
		<div class="col-sm-4">
			<h3>Filament Details</h3>
			<table class="table table-striped">
			<tr>
				<td>Filament ID</td>
				<td>{{ Filament.FilamentID }}</td>
			</tr>
			<tr>
				<td>Manufacturer</td>
				<td><a href="/Manufacturer/{{ Filament.ManufacturerID }}">{{ ManufacturerName }}</a></td>
			</tr>
			<tr>
				<td>Manufacturer Part No.</td>
				<td>{{ Filament.MPN }}</td>
			</tr>
			<tr>
				<td>Diameter</td>
				<td>{{ Filament.Diameter }} mm</td>
			</tr>
			<tr>
				<td>Tolerance</td>
				<td>{{ Filament.Tolerance }} mm</td>
			</tr>
			<tr>
				<td>Colour</td>
				<td style="color:#{{ Filament.Color }}">#{{ Filament.Color }}</td>
			</tr>
			<tr>
				<td>Volume</td>
				<td>{{ Filament.Volume }} cm<sup>2</sup></td>
			</tr>
		</table>
		</div>
		<div class="col-sm-8">
			<h3>Submitted Profiles</h3>
			<table class="table table-striped">
			<tr>
				<th>Profile ID</th>
				<th>Profile Description</th>
				<th>Profile Score</th>
				<th>Date Added</th>				
				<th>Date Modified</th>	
				<th>Contributor</th>				
			</tr>
			{% for Profile in Profiles %}
			<tr>
				<td><a href="/Filament/Profile/{{ Profile.ProfileID }}">{{ Profile.ProfileID }}</a></td>
				<td>{{ Profile.ProfileDescription }}</td>
				<td>{{ Profile.ProfileScore }}</td>
				<td>{{ Profile.DateAdded }}</td>
				<td>{{ Profile.DateModified }}</td>
				<td>{{ Profile.Contributor }}</td>
			</tr>
			{% endfor %}	
			<tr>
				<td colspan="10" style="text-align:right">
				<a href="/Filament/Profile/Add/{{ Filament.FilamentID }}" class="btn btn-primary active" role="button">Add New</a></td>
			</tr>		
			</table>

		</div>
	</div>
</div>
{% endblock %}


