{% extends "base.html" %}
{% block title %}E3D Filament Database{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>E3D Filament Database</h1>
	</div>
	
   
	<div class="row">

		<div class="col-sm-8">
          		<ul class="list-group">
				<li class="list-group-item active">Manufacturers in Database</li>
				{% for Manufacturer in Manufacturers %}
            			<li class="list-group-item"><a href="/Manufacturer/{{Manufacturer.ManufacturerID}}">{{Manufacturer.Name}} ({{Manufacturer.Count}} Filaments)</a></li>
				{% endfor %}
				<li class="list-group-item">
					<input type="text" class="form-control" placeholder="Manufacturer Name" id="Manufactuer" style="width:80%; float: left;">
					<button type="button" class="btn btn-primary" style="width:18%; float:right;">Add</button>
					<div style="clear:both"></div>
				</li>
          		</ul>
		</div>

		<div class="col-sm-4">
			<form action="/Manufacturer/Login/" method="POST">
          		<ul class="list-group">
				<li class="list-group-item active">Manufacturer Login</li>
            			<li class="list-group-item"><input type="text" class="form-control" placeholder="Username" name="Username" style="width:100%;"></li>
            			<li class="list-group-item"><input type="password" class="form-control" placeholder="Password" name="Password" style="width:100%;"></li>
            			<li class="list-group-item"><input type="submit" class="btn btn-primary" value="Log In" style="float:right;"><div style="clear:both"></div></li>
            			<li class="list-group-item"><a href="/Manufacturer/Register/">Manufacturer Registration</a></li>
          		</ul>
			</form>
		</div>



	</div>
</div>
{% endblock %}
