{% extends "base.html" %}
{% block title %}E3D Filament Database - Filament Details{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>{{ Manufacturer.Name }}</h1>
	</div>
	
   
	<div class="row">
		<div class="col-sm-12">
			<h3>Filaments</h3>
			<table class="table table-striped">
			<tr>
				<th>Filament ID</th><th>Name</th><th>Diameter</th><th>MPN</th><th>Colour</th><th>Submitted Printing Profiles</th>
			</tr>
			{% for Filament in Filaments %}
			<tr>
				<td><a href="/Filament/{{ Filament.FilamentID }}">{{ Filament.FilamentID }}</a></td>
				<td><a href="/Filament/{{ Filament.FilamentID }}">{{ Filament.Name }}</a></td>
				<td>{{ Filament.Diameter }}</td>
				<td>{{ Filament.MPN }}</td>
				<td style="color:#{{ Filament.Color }}">#{{ Filament.Color }}</td>
				<td>{{ Filament.ProfileCount }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="10" style="text-align:right">
				<a href="/Filament/Add/{{ Manufacturer.ManufacturerID }}" class="btn btn-primary active" role="button">Add New</a></td>
			</tr>
			</table>
		</div>
	</div>

</div>
{% endblock %}


