<html>
<head>
<title>E3D Filament Database</title>
<style>
body{
	background-color:#cccccc;
}

.header {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	padding:5px;
	border-radius:6px;
}
.content {
	margin-top:10px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
}
.clearboth{
	clear:both;
}
</style>
</head>

<body>
<div class="header">
E3D-Online Logo
</div>

<div class="content">

	<div style="width:100%">
		<h3>Search Results:</h3>
		<table style="width:40%; margin-left:auto; margin-right:auto;">
			<tr>
				<th>Manufacturer</th>
				<th>Product Code</th>
				<th>Product Name</th>
				<th>Filament Diameter</th>
				<th>Colour</th>
			</tr>

			{% for Filament in Filaments %}
			<tr>
				<td><a href="/Manufacturer/{{Filament.Manufacturer.ID">{{Filament.Manufacturer.Name}}</td>
				<td><a href="/Filament/{{Filament.ID">{{Filament.Code}}</td></tr>
				<td><a href="/Filament/{{Filament.ID">{{Filament.Name}}</td></tr>
				<td><a href="/Filament/{{Filament.ID">{{Filament.Diam}}</td></tr>
				<td><a href="/Filament/{{Filament.ID">{{Filament.Colour}}</td></tr>
			{% endfor %}

		</table>	

</div>
</body>
</html>

